body {
    background-color: #0e3150;
    padding: 30px;
    font-family: sans-serif;
}

h1 {
    margin-top: 0;
    margin-bottom: 40px;
    color: #6dc9c8;
}

.fa-github, .fa-github:visited, .fa-github:active {
    color: #6dc9c8;
}

.fa-github:hover {
    color: #438584;
}

div {
    background-color: #ffffff;
    padding: 80px 100px;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
}

#addClass, #removeClass, #toggleClass {
    margin: 0;
}

.newClass {
    margin: 0;
    background-color: #ffc0c2;
}

#fadeInText {
    opacity: 0;
}

footer {
    height: 100px;
}